.label-title{
    background: linear-gradient(to right, #fce1a5 0%, #f4b936 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    width: 100%;
    text-align: center;
    padding: 4% 0px 1% 0px;
}

select {
    background: linear-gradient(to right, #fce1a5 0%, #f4b936 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 10px;
    margin: 0 auto;
    width: 300px;
}

.button {
    margin-top: 5%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    background: linear-gradient(to right, #fce1a5 0%, #f4b936 100%);
    padding: 10px 10%;
    color: #151a1d;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}